In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("zksync_calldata.csv")
df['block_time'] = pd.to_datetime(df['block_time'])
df = df.set_index('block_time')
daily_counts = df.resample('D').size()

# 1. Convert daily_counts to a DataFrame
daily_counts_df = daily_counts.to_frame(name='count')

# 2. Calculate 30-day moving average and 30-day median
daily_counts_df['30d_moving_avg'] = daily_counts_df['count'].rolling(window=30).mean()
daily_counts_df['30d_moving_median'] = daily_counts_df['count'].rolling(window=30).median()

# 3. Calculate overall median, 25th percentile, 75th percentile, and average
overall_median = daily_counts_df['count'].median()
q25 = daily_counts_df['count'].quantile(0.25)
q75 = daily_counts_df['count'].quantile(0.75)
overall_average = daily_counts_df['count'].mean()

# Display the results
print(daily_counts_df.head())  # to see the first few rows with 30-day calculations
print(f"Overall Median: {overall_median}")
print(f"25th Percentile: {q25}")
print(f"75th Percentile: {q75}")
print(f"Overall Average: {overall_average}")

                           count  30d_moving_avg  30d_moving_median
block_time
2023-03-24 00:00:00+00:00    148             NaN                NaN
2023-03-25 00:00:00+00:00    781             NaN                NaN
2023-03-26 00:00:00+00:00    862             NaN                NaN
2023-03-27 00:00:00+00:00    677             NaN                NaN
2023-03-28 00:00:00+00:00    660             NaN                NaN
Overall Median: 1421.5
25th Percentile: 915.25
75th Percentile: 1745.5
Overall Average: 1315.0521739130436

In [4]:
df

,batch_num,calldata_bytes_per_tx,txs_per_batch,data_length
block_time,,,,
2023-03-24 10:37:35+00:00,374,957,35,33508
2023-03-24 13:31:23+00:00,397,336,250,84164
2023-03-24 14:10:11+00:00,408,344,250,86084
2023-03-24 14:13:11+00:00,409,429,250,107460
2023-03-24 15:15:47+00:00,434,358,250,89668
...,...,...,...,...
2023-11-08 09:34:47+00:00,302934,223,516,115236
2023-11-08 09:35:35+00:00,302935,201,572,115204
2023-11-08 09:36:11+00:00,302936,199,577,115268
2023-11-08 09:36:59+00:00,302937,204,561,114980
2023-11-08 09:37:59+00:00,302938,210,548,115236

In [6]:
daily_counts_df[200:]

                           count  30d_moving_avg  30d_moving_median
block_time
2023-10-10 00:00:00+00:00   1855     1853.433333             1878.5
2023-10-11 00:00:00+00:00   1746     1850.500000             1878.5
2023-10-12 00:00:00+00:00   1708     1846.766667             1878.5
2023-10-13 00:00:00+00:00   1811     1859.733333             1878.5
2023-10-14 00:00:00+00:00   1852     1859.266667             1877.5
2023-10-15 00:00:00+00:00   1706     1855.633333             1877.5
2023-10-16 00:00:00+00:00   1663     1841.000000             1859.5
2023-10-17 00:00:00+00:00   1815     1831.133333             1853.5
2023-10-18 00:00:00+00:00   1700     1823.400000             1833.5
2023-10-19 00:00:00+00:00   1549     1803.700000             1813.0
2023-10-20 00:00:00+00:00   1435     1783.133333             1803.5
2023-10-21 00:00:00+00:00   1782     1777.966667             1789.5
2023-10-22 00:00:00+00:00   1695     1767.200000             1782.5
2023-10-23 00:00:00+00:00   1400     1745.200000             1772.0
2023-10-24 00:00:00+00:00    951     1707.433333             1754.0
2023-10-25 00:00:00+00:00   1368     1690.900000             1727.0
2023-10-26 00:00:00+00:00   1074     1667.266667             1707.0
2023-10-27 00:00:00+00:00   1288     1645.000000             1703.0
2023-10-28 00:00:00+00:00   1550     1633.366667             1697.5
2023-10-29 00:00:00+00:00   1557     1622.233333             1679.0
2023-10-30 00:00:00+00:00   1368     1604.733333             1644.5
2023-10-31 00:00:00+00:00   1186     1590.400000             1644.5
2023-11-01 00:00:00+00:00   1167     1583.800000             1644.5
2023-11-02 00:00:00+00:00   1013     1564.000000             1644.5
2023-11-03 00:00:00+00:00   1217     1550.366667             1636.0
2023-11-04 00:00:00+00:00   1521     1547.433333             1610.0
2023-11-05 00:00:00+00:00   1439     1536.666667             1553.5
2023-11-06 00:00:00+00:00    955     1504.400000             1549.5
2023-11-07 00:00:00+00:00   1044     1473.700000             1535.0
2023-11-08 00:00:00+00:00    676     1436.366667             1480.0